html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem royalblue;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.flight-card {
    border-radius: 10px;
    transition: transform 0.2s;
}

.journey-card {
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: white;
    border: 1px solid lightgray;
}

.journey-header {
    background-color: whitesmoke;
    border-bottom: 1px solid lightgray;
    background-color: white;
}

.flight-card {
    border: 1px solid lightgray;
    overflow: hidden;
    background-color: white;
    margin-bottom: 12px;
}

.flight-date-header {
    border-bottom: 1px solid lightgray;
    padding: 8px;
}

.flight-details {
    padding: 12px;
}

.flight-duration {
    position: relative;
}

.price-card {
    border-top: 1px solid lightgray;
    padding: 12px;
}

.book-now-btn {
    padding: 8px 20px;
}

.destination-banner {
    width: 100%;
    height: 180px;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px 0;
    
}

.banner-overlay {
    position: absolute;
    bottom: 30px;
    right: 30px;
    background-color: black;
    color: white;
    padding: 15px 25px;
    border-radius: 6px;
    text-align: center;
    max-width: 70%;
}

    .banner-overlay h3 {
        margin: 0 0 5px 0;
        font-size: 22px;
    }

    .banner-overlay p {
        margin: 0;
        font-size: 14px;
    }

.destinations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.destination {
    width: 48%;
    height: 150px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    position: relative;
    background-size: cover;
    background-position: center 40%;
    background-repeat: no-repeat;
    overflow: hidden;
}

.meal-options {
    border: 1px solid lightgray;
    padding: 15px;
    margin-bottom: 20px;
}

.booking-policy {
    border: 1px solid lightgray;
    padding: 15px;
    margin-bottom: 20px;
}

.home-flight {
    display: block;
    background-color: blue;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    margin: 20px 0
}
